.phone__input__container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.phone__input__container input {
  height: 40px;
  width: 105%;
  text-align: center;
  background-color: transparent;
  border: 0;
  outline: 0;
  transition: font-size 0.3s ease;
}

.phone__input__container button {
  width: 50px;
  padding-top: 3px;
  font-size: 1.2rem;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.phone__keys__container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  width: calc((var(--key-size) * 3) + 45px);
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
}



.phone__buttons {
  height: 70px;
  margin: 0 auto;
  padding-top: 15px;
}

.phone__verify-number {
  padding: 10px 20px;
  background-color: #46b14f;
  color: var(--white);
  font-weight: 800;
  font-size: 1.4rem;
  border-radius: 100px;
  border: 0;
  outline: 0;
}